/* Header.css */

header {
    display: flex;
    align-items: center;
    padding: 20px;
  }

footer {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;

  }
  
  .avatar-container {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Create a circular shape */
    overflow: hidden; /* Hide any image overflow */
    margin-right: 160px;
  }
  
  .avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover container */
  }
  
  .header-content {
    flex-grow: 1; /* Allow the content to grow and take available space */
  }
  
  /* Additional styling for your header content */
  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  /* Add any other styling you need for the header content */
  